* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* COLOR */
* {
  /* other colors */
  --placeholder-color: #6e6e6e;
  --text-grey: #514d67;
  --accent: #43d2ff;
  --bg-color: #e5e5e5;

  /* primary */
  --default: #072ac8;
  --hover: #a2d6f9;
  --tapped: #d1edff;

  /* neutral*/
  --dark: #292e47;
  --medium: #6b708d;
  --light: #f2f4fc;
  --light-blue: #ecf7ff;

  /* Secondary */
  --yellow1: #ffc600;
  --yellow2: #fce300;
}
/* Text styles*/
h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #000000;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #072ac8;
}

/* BODY */
p .medium {
  font-family: "Roboto", sans-serif;
  font-style: Medium;
  font-size: 24px;
  line-height: 28.13px;
  line-height: 100%;
  color: #000000;
}

p .regular {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

/* HEADLINE */
p .headline {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #000000;
}
/* HEADER */

header {
  padding: 1rem;
  margin: 1rem;
}
/*  NAVIGATION BAR */

.top-menu {
  padding: 1rem;
  margin: 1rem;
}
.logo-circle {
  padding: 1rem;
  margin: 1rem;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  text-decoration: none;
}
.contact-btn {
  font-family: "Roboto", sans-serif;
  background-color: #072ac8;
  color: #ecf7ff;
  padding: 1rem;
  margin: 1rem;
}

/* Caption/1 */
p .caption1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
/* Caption/2 */

p .caption2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

/* OLD */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #a15f5f;
  display: flex;
}
/* COLOR */
* {
  /* other colors */
  --placeholder-color: #6e6e6e;
  --text-grey: #514d67;
  --accent: #43d2ff;
  --bg-color: #e5e5e5;

  /* primary */
  --default: #072ac8;
  --hover: #a2d6f9;
  --tapped: #d1edff;

  /* neutral*/
  --dark: #292e47;
  --medium: #6b708d;
  --light: #f2f4fc;
  --light-blue: #ecf7ff;

  /* Secondary */
  --yellow1: #ffc600;
  --yellow2: #fce300;
}
/* Text styles*/
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
}
h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #000000;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #072ac8;
}

/* BODY */
p .medium {
  font-family: Roboto;
  font-style: Medium;
  font-size: 24px;
  line-height: 28.13px;
  line-height: 100%;
  color: #000000;
}

p .regular {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

/* HEADLINE */
p .headline {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 26px */

  color: #000000;
}
/* HEADER */

header {
  padding: 1rem;
  margin: 1rem;
}
/*  NAVIGATION BAR */

.top-menu {
  padding: 1rem;
  margin: 1rem;
}
.logo-circle {
  padding: 1rem;
  margin: 1rem;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.nav-bar a:link {
  color: var(--medium);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}

/* Caption/1 */
p .caption1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #000000;
}
/* Caption/2 */

p .caption2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

/* navigation */
